.ai-buttons {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
    margin-left: 20px;
}

.ai-menu:after {
    content: "";
    display: block;
    clear: both; 
}

@media screen and (max-width: 520px) {
    .ai-buttons {
        width: 42%;
        padding: 0;
        display: block;
        box-sizing: border-box;
        margin-top: 2px;
        margin-left: 4%;
        margin-right: 4%;
    }
    .game-intro {
        display: none;
    }
}    